 <div class="box-header with-border">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
      <i style="color: blue;" class="fa fa-bars"></i>
  </button>
   <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav ">
        <li class=""><a href="/instructor/courseview/<%= course._id %>/material">Materials</a></li>
        <li class=""><a  href="/instructor/courseview/<%= course._id %>/assignment">Assignment</a></li>
        <li class=""><a  href="/instructor/courseview/<%= course._id %>/discusion">Discusion</a></li>
        <li class=""><a href="/instructor/courseview/<%= course._id %>/student">Student</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div>