</div>
 <footer class="main-footer">
    <div class="container">
      <strong>Copyright &copy; 2017 <a href="">Project work</a>.</strong> All rights
      reserved.
    </div>
    <!-- /.container -->
  </footer>
</div>
<!-- ./wrapper -->
   
   
  
<!-- angular  -->
    <script src="/lib/angular.min.js"></script>
    <script src="/lib/app.js"></script>
    <script src="/lib/angular-route.min.js"></script>
    <script src="/lib/loader.js"></script>
    <script src="/lib/dist/angular-animate.min.js"></script>
    <script src="/lib/dist/angular-sanitize.min.js"></script>
    <script src="/lib/dist/ng-file-upload.min.js"></script>
    <script src="/lib/dist/build/wysiwyg.min.js"></script>
    <script src="/lib/dist/ngToast.min.js"></script>
    <script src="/lib/dist/SweetAlert.min.js"></script>
    <script src="/lib/dist/sweet-alert.min.js"></script>
    <script src="/lib/student/home.controller.js"></script>
    <script src="/lib/student/profile.controller.js"></script>
    <script src="/lib/dist/socket.io.js"></script>
   
    <!-- jQuery 3 -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>